{% extends 'logistics/base.html' %}
{% load static %}

{% block content %}
<div id="carouselExampleSlidesOnly" class="carousel slide" data-bs-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img src="{% static 'images/sky.jpg' %}" class="d-block w-100" alt="...">
    </div>
    <div class="carousel-item">
      <img src="{% static 'images/izz.jpg' %}" class="d-block w-100" alt="...">
    </div>
    <div class="carousel-item">
      <img src="..." class="d-block w-100" alt="...">
    </div>
  </div>
</div>
<p></p>
<section class="sect">
<div class="container">
    <p><b>PARCEL INFORMATION</b></p>
    <P></P>
    <p><b>TRACK PARCEL</b></p>
    <p></p>
    <p>Please enter Your Tracking Number to View Your Parcel</p><br>

    <h6>Tracking Number:</h6>
    <div class="mb-3 row">
    <div class="col-sm-10">
     <div class="white">
      <input id="form-white" type="password" placeholder="Enter Tracking Number..." class="form-control form-control-lg" id="inputPassword">
     </div>
        <p></p>
        <button class="btn btn-outline-warning">TRACK</button>
    </div><br>


  </div>
    <p></p>
    <b>AIR FREIGHT</b>
    <p>FORWARDING</p>
    <P></P>
    <p>As a leader in global air freight forwarding, MANDELA LOGISTICS excels in providing tailored transportation</p>
    <p></p>
    <div class="yellow">
    <a><b>READ MORE...</b></a>
    </div>

    <p></p>
    <b>OCEAN FREIGHT</b>
    <p>FORWARDING</p>
    <P></P>
    <p>Ocean Freight plays perharps the most vital role in most transportation and supply chain</p>
    <p></p>
    <div class="yellow">
    <a><b>READ MORE...</b></a>
    </div>

    <p></p>
    <b>ROAD FREIGHT</b>
    <p>FORWARDING</p>
    <P></P>
    <p>Nearly all items of cargo are transported at some stage of their journey along the world's roads</p>
    <p></p>
    <div class="yellow">
    <a><b>READ MORE...</b></a>
    </div>

    <p></p>
    <b>EXPEDITED</b>
    <p>SERVICES</p>
    <P></P>
    <p>Mandela Logistics understands part of the supply chain optimization process is having a level of service</p>
    <p></p>
    <div class="yellow">
    <a><b>READ MORE...</b></a>
    </div>
    <p></p>
    <p></p>
    </div>
</section>
<section class="sect-2">
    <div class="container">
        <div class="white">
        <h4><b>MANDELA LOGISTICS</b></h4>
            <p></p>
            <h5>OUR SERVICES</h5>
            <p></p>
            <p>As a market leader in global air freight forwarding</p>
            <p></p>
            <h4 class="yellow">Logistics</h4>
            <h4>Packaging</h4>
            <h4>Materials</h4>
            <p></p>
            <p>Whether you require distribution or fulfillment, defined freight forwarding, or a complete supply chain solution , MANDELA LOGISTICS can provide you with a customized solution tailored to your needs</p><br>
            <p></p><br>
            <p></p><br>
        </div><br>
        <p></p><br>
        <p></p><br>
        <p></p><br>
        <p></p><br>
        <p></p><br>
        <p></p><br>



            <div class="orient">
                <div class="text-center">
                    <p class="box-1">Air Freight</p>
                    <p class="box-2">Ocean Freight</p>
                    <p class="box-3">Road Freight</p>
                    <p class="box-4">Warehousing</p>
                    <p class="box-5">Expendited services</p>
                </div>
            </div>


    </div>
</section>
<p></p>

<section class="sect-3">
    <div class="container">
    <div class="white">
    <h5>MANDELA LOGISTICS</h5><br>
    <P></P>
        <p><b>WHAT PEOPLE SAY ABOUT US</b></p>
        <p></p>
        <p>These gus are just the coolest service provides  ever! They did deliver an exceptional service!</p>
        <p></p>
        <h4>Thomas Eddison</h4>
        <p>CEO, Global Company Inc, France</p><br>
        <p></p><br>
        <p></p><br>
    </div>
    </div>
</section>

<section class="sect-4">
    <div class="container">
        <h4>MANDELA LOGISTICS</h4>
        <p></p>
        <h5>FEATURED NEWS</h5>
        <p></p>
        <h5>AIR FREIGHT FORWARDING</h5>
        <p></p>
        <p>June 2, 2022</p> 335<br>
        <p>As a market leader in global air freight forwarding, OIA Global excels in providing tailored....</p>
        <p></p>
        <h5 class="yellow">LEARN MORE...</h5>

        <p></p>
        <h5>OCEAN FREIGHT FORWARDING</h5>
        <p></p>
        <p>June 2, 2022</p> 233<br>
        <p>As a market leader in global air freight forwarding, OIA Global excels in providing tailored....</p>
        <p></p>
        <h5 class="yellow">LEARN MORE...</h5>

        <p></p>
        <h5>ROAD FREIGHT FORWARDING</h5>
        <p></p>
        <p>May 5, 2019</p> 446<br>
        <p>Nearly all items of cargo are transported at some stage of their journey along the worlds....</p>
        <p></p>
        <h5 class="yellow">LEARN MORE...</h5>

        <p></p>
        <h5>EXPEDITED SERVICES</h5>
        <p></p>
        <p>October 4, 2018</p> 335<br>
        <p>Global Logistic understands part of the supply chain optimization process is having a level of....</p>
        <p></p>
        <h5 class="yellow">LEARN MORE...</h5><br>
        <p></p>
        <hr>
        <h4>Newsletter</h4>
        <div class="mb-3">
        <input type="email" id="another" class="form-control" id="exampleFormControlInput1" placeholder="Enter your Email here"><br>
        <p></p>
        <h5><b>SUBSCRIBE</b></h5>
</div>

    </div>
</section>

<section class="sect-5">
    <div class="container">
        <div class="white">
            <h4>MANDELA LOGISTICS</h4><br>
            <p></p>
            <h5>CONTACT US</h5><br>
            <p></p>
            <p><b>MANDELA LOGISTICS</b></p>
        </div>
        <div class="grey">
            <p>HQ United States,</p>
            <p>Branch United Kingdom,</p>
            <p>Branch Turkey</p>
            <p>tel: </p>
            <p>email: <div class="blue">info@mandelalogistics.com</div></p>
        </div>
        <p></p>
        <p></p>
        <p class="white">Your email address will not be published. Required fields are marked *</p><br>
        <p></p>
        <div class="grey-form">
            <input class="form-control form-control-lg" type="text" placeholder="Name" aria-label=".form-control-lg example"><br>
            <input class="form-control form-control-lg" type="email" placeholder="Email" aria-label=".form-control-lg example"><br>
            <input class="form-control form-control-lg" type="text" placeholder="Subject" aria-label=".form-control-lg example"><br>
            <div class="mb-3">
            <textarea class="form-control" placeholder="Message" id="exampleFormControlTextarea1" aria-label=".form-control-lg example" rows="6"></textarea>
            </div><br>
        </div>
        <div class="white">
            <button class="but" type="button" placeholder="SEND">SEND</button>
        </div>
        <p></p>
        <p></p>
        <div class="text-center">
            <p class="white">MANDELALOGISTICS</p>
            <p class="grey">2023 All Rights Reserved</p>
        </div>
    </div>
</section>



{% endblock %}